<footer class="page-footer">

  <header class="header-hidden">
    <h2>Pie de página</h2>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-sx-12">

	<p style="margin: 0px;"><a href="/">Laboratorio de Microscopia Óptica Avanzada</a></p>
	<p><a href="https://www.unrc.edu.ar">Universidad Nacional de Río Cuarto</a>, Ruta Nac. 36 - Km. 601 / Río Cuarto - Córdoba - Argentina.</p>
	
	<p>Todo el contenido del sitio se encuentra bajo <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License.</a></p>

	<p><i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a class="sky-blue" href="https://twitter.com/fnbellomo" target="_blank">@fnbellomo</a> on <a class="sky-blue" href="https://github.com/pewen" target="_blank">GitHub</a></p>

      </div><!--/col-sx-12 -->
    </div><!--/row -->
  </div><!--/container -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>

</footer>
